version: "3.9"

services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  backend:
    build: ./backend
    env_file:
      - .env
    environment:
      - REDIS_URL=redis://redis:6379/0
    ports:
      - "8000:8000"
    depends_on:
      - redis
    volumes:
      - ./data:/data

  worker:
    build: ./worker
    environment:
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - redis
    volumes:
    - ./data:/data

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend